@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>NBK's Pet Connection is a private nonprofit organization whose mission is to build a community where people value animals and treat them with respect and kindness.

Founded in 2017, NBK's Pet Connection has been saving the lives of animals in need. NBK's Pet Connection operates shelters all over the United States.  We receive no general government funding and we are not part of any national umbrella organization. As the largest shelter in the state of Wisconsin, WHS offers the following specialized services:

A comprehensive adoption program that matches 10,000 homeless animals with new families; there are no time or space limits for any animals in our adoption program. We receive nearly all the area's surrendered animals, as well as animals from local and state animal control facilities, and animals transferred from other shelters. We are the stray animal holding facility for Racine and Ozaukee Counties only.
A pet food bank to assist families with pets through tough financial times.
A foster program for animals in domestic violence situations.
The Wildlife Rehabilitation Center that provides rescue, rehabilitation and release for more than 5,000 wild animals annually.</p>

<center><img src="~/Content/Images/pets3.jpg" /></center>
