    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">

                  <h2>Got Questions? <small>Feel free to contact us</small></h2>

            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Your Full Name
                                </label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Your Email Address
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" />
                                </div>
                            </div>
 
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Your Message
                                </label>
                                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                          placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <legend><img src="contact.jpg" width="50px" height="40px"></span>Contact Information</legend>
                <address>
                    <strong>Beng Cha</strong><br>
                    Web Developer<br>
                    Milwaukee, WI 53218<br>
                    c: (414) 123-4567 <br>
                    <a href="mailto:#">bengcha04@gmail.com</a>
                </address>
            </form>
        </div>
    </div>
</div>