@{
    ViewBag.Title = "Home Page";
}
<center>
<<<<<<< HEAD
    <h1 class="title"><b>Pet Connection</b></h1>
    <p><h4>Make your community a place for pets to be safe and love</h4></p>
    <img src="~/Content/Images/petCover.jpg" />
=======
    <h1>NBK's Pet Connection</h1>
    <p class="lead"><h2>Our network help connect people to pets</h2></p>
>>>>>>> b0780d0f96c31e75b1144b739570a25897cd04a7
</center>



<div class="row">
    <div class="col-md-4">
        <h2>Adopt a pet</h2>
        <p>
            Pet Connection help connect you to thousand of pets.
        <p>Taking care of a pet can be tough. With our pet care guide, you can learn new way to improve your pet care. </p>
        <p>Our website is updated in real time, so please check back often for the most current information until you can visit the owner in person during the Adoption Process. Can’t adopt today? Please consider sponsoring your favorite animal.  </p>
        </p>

    </div>
    <div class="col-md-4">
        <h2>Find your pet a new home</h2>
        <p>Got a pet that you can't look after no more? Pet Connection can help find your pet a new home.</p>
        <p>Considering adding a companion to the family? The Wisconsin Humane Society offers the following information to help make decision a breeze.

Get the whole family involved.

Choosing a new animal companion can be very exciting.

Start your selection process at home by polling family members and talking about the physical characteristics that appeal to you, and most importantly, what personality will best suit your environment and lifestyle.  The Adoption Counselors at the Wisconsin Humane Society can help you to translate all of that information into a great match.  If you have one or more pets at home, describe them to our Adoption Counselors and they can help you select which animal will be able to adapt to your household.  </p>
 
    </div>
    <div class="col-md-4">
        <h2>Learn more about pet care</h2>
        <p>Do you want to help animals? They certainly need your assistance.

Dogs and cats can't speak for themselves when they are being treated badly. Neither can other animals. They can't run for political office. They can't hire lawyers to defend them or lobbyists to press their case with lawmakers.

Animals have no hope for humane care and treatment without us. Major decisions affecting the lives of all animals are made every day by public employees and elected officials. Companion animals, farm animals, wildlife, animals in laboratories and animals used in entertainment are all at risk. People who care about animals need to speak up and share their opinions with policy makers.</p>
        
    </div>
    <center><img src="~/Content/Images/pets.jpg" /></center>

</div>